
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.floating-box {
  animation: floating 4s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
    transform: translatey(0px);
  }
}


/* Hide the scrollbar */
/*
broke things like ion header
ion-content {
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
*/

/* Translusent tab Bar Positioning */
ion-tab-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
